div#mainContainer.container-fluid.
	<!-- ko ifnot: authorized -->
	<div class="jumbotron">
		<h1>Vakantie!</h1>
		<p class="lead">Met deze webapp kan je snel een overzichtje van je vakantie zien. Powered by bITe en Google</p>
		<!--Add a button for the user to click to initiate auth sequence -->
		<button id="authorize-button" class="btn-large btn-success" data-bind="css:{hide: loading}">Login</button>
		<!-- ko if: loading -->
		<div class="alert alert-block alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Een ogenblik geduld.</h4>
			Er wordt nagegaan of je reeds ingelogd bent.
		</div>
		<!-- /ko -->
	</div>
	<!-- /ko -->
	<button id="getEventsButton" data-bind="css:{hide:!authorized()}" class="non-printable">
		<i class="icon-refresh"></i> Refresh
	</button>
	<button id="getPdfButton" data-bind="css:{hide:!authorized()}" class="non-printable">
		<i class="icon-download"></i> Download PDF  
	</button>	
	<div id="timesheet">
		<!-- ko if: authorized -->
		<h1>Kort</h1>
		<table id="shortOverview">
			<thead>
				<tr>
					<th>Type</th>
					<th>Aantal</th>
					<th>Opgenomen</th>
					<th>Gepland</th>
					<th>Resterend</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: categoryOverviews">
				<tr>
					<td data-bind="text:name"></td> 
					<td data-bind="text:max"></td> 
					<td data-bind="text:aantalOpgenomen"></td> 
					<td data-bind="text:aantalGepland"></td> 
					<td data-bind="text:remaining"></td> 
				</tr>
			</tbody>
		</table>
		
		<div>
			<a class="btn btn-mini non-printable" data-bind="click:gotoPreviousMonth"> < </a>
			<span style="margin-left:5px;margin-right:5px" data-bind="text:month"> </span> (<span data-bind="text:monthCounter"> </span>)
			<a class="btn btn-mini non-printable" data-bind="click:gotoNextMonth"> > </a>
		</div>
		<ul data-bind="foreach:eventsInMonth">
			<li>
				<!-- ko text: startDateText --><!-- /ko -->
				<!-- ko ifnot: isFullDay -->
					<i data-bind="visible:isForenoon",style="margin-left: 10px;"> (Voormiddag) </i>
					<i data-bind="visible:isAfternoon",style="margin-left: 10px;"> (Namiddag) </i>
				<!-- /ko -->
			</li>
		</ul>
		<!-- /ko -->

		<div data-bind="foreach:eventsGrouped, css:{hide:!authorized()}" id="groupedEventsContainer">
			<div class="groupedEvents">
				<h1 data-bind="text:name">Detail voorbijgaande</h1>
				
				<table>
					<thead>
						<tr>
							<th></th>
							<!-- ko foreach:$root.categories -->
							<th data-bind="text:name"></th> 
							<!-- /ko -->
						</tr>
					</thead>
					<tbody data-bind="foreach: items">
						<tr>
							<td>
								<a class="eventLink" data-bind="text:startDateText,attr:{href:htmlLink}"></a> 
								<!-- ko ifnot: isFullDay -->
									<span class="badge" data-bind="visible:isForenoon",style="margin-left: 10px;"> Voormiddag </span>
									<span class="badge" data-bind="visible:isAfternoon",style="margin-left: 10px;"> Namiddag </span>
								<!-- /ko -->
							</td>
							<!-- ko foreach: $root.categories -->
								<!-- ko if: summaryCatMatch()===$parent.summaryCatMatch -->
									<td class="mark">x</td> 
								<!-- /ko -->
								<!-- ko ifnot: summaryCatMatch()===$parent.summaryCatMatch -->
									<td class="mark"> </td> 
								<!-- /ko -->
							<!-- /ko -->
						</tr>
					</tbody>
			</div>
		</div>
	<div>
